* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #6da3bd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #909;
}