th, td {
    border: 1px solid lightgray;
    padding: 5px 15px;
}

table {
    border-collapse: collapse;
}

.action_td img {
    margin: 0 10px;
}

td.action_td {
    border: none;
}

.invisible_td {
    border: none;
}